.App {
  text-align: center;
  margin: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchbar {
  height: 30px;
  border: none;
}
.weatherDisplay {
  display: flex;
}
.weathercard {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 300px;
}
.weather-cards{
  display: flex;
  justify-content: center;
  align-items: center;
}
